body{
    padding-top: 15%;
    text-align: center;
    margin: 0 auto;
    background-color: black;
}
#clock,#date{
    color: white;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}